<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /api/
  
  # Pass all requests to Node.js server
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ http://localhost:3000/$1 [P,L]
</IfModule>