<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route /admin to index.php?action=admin
    RewriteRule ^admin$ index.php?action=admin [QSA,L]

    # Route /:id to index.php?id=$1
    RewriteRule ^([0-9]+)$ index.php?id=$1 [QSA,L]
</IfModule>
